#infoContainer {

    border: 10px solid rgba(77, 50, 50, 0.527);
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
    height: inherit;
    margin-top: 15px;

}

#name {

    font-size: 50px;

}

.appContainer {

    border: 10px solid rgba(77, 50, 50, 0.527);
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
    height: inherit;
    margin-top: 15px;
    font-size: 20px;

}

.container {

    border: 10px solid rgba(77, 50, 50, 0.527);
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
    height: inherit;
    margin-top: 15px;
    font-size: 20px;

}

.image {

    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    transition: width 3s, height 3s;
}

#appsContainer {
    margin: 25px;
}

body {

    background-color: antiquewhite;

}

#nav {

    background-color: rgba(255, 255, 255, 0.623);
    margin: 50px;
    border: 10px solid rgba(77, 50, 50, 0.527);
    border-radius: 10px;

}

a {

    color: rgb(182, 73, 0);

}

#resume {

    margin-right: 25px;
    font-size: 50px;
    float: right;

}